h1{
    color: black;
    background: linear-gradient(to  right,green,white); ;
}
h2{
    background-color: #7cfc00;
}
h3{
    background-color: #7cfc00;
}
.info{
    background-color: #ffefaf;
    border:5px solid;
}
.pra1{
    background-color: #ffefaf;
    border:5px solid;
}
.pra2{
    background-color: #ffefaf;
    border:5px solid;
}
.pra3{
    background-color: #ffefaf;
    border:5px solid;
}
h3{
    
}
