h1{
    color: black;
    text-align: center;
}
h2{
    background-color: #7cfc00;
}
h3{
    background-color: #7cfc00;
}
.info{
    background-color: #ffefaf;
    border:5px solid;
}
.pra{
    background-color: #ffefaf;
    border:5px solid;
}
.fin{
    background-color: #7cfc00;
}
body{
    background-color: skyblue;
}
