h1{
    color: black;
    text-align: center;
    border: 4mm ridge rgba(211, 220, 50, .6);
    background-color: lightyellow;
    font-family: monospace;
}
h2{
    background: linear-gradient(0.25turn, skyblue, lightyellow, skyblue);
    font-family: monospace;
    text-align: center;
}
h3{
    background: linear-gradient(to left, skyblue, lightyellow);
    font-family: monospace;
}
.info{
    background-color: lightyellow;
    border: 4mm ridge rgba(211, 220, 50, .6);
    font-family: monospace;
}
.pra{
    background-color: lightyellow;
    border: 4mm ridge rgba(211, 220, 50, .6);
    font-family: monospace;
}
.fin{
    background: linear-gradient(to left, skyblue, lightyellow);
    font-family: monospace;
}
body{
    background-color: skyblue;
    font-family: monospace;
}
